# Windows 系统文件
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db
*.stackdump
[Dd]esktop.ini
$RECYCLE.BIN/
*.lnk

# PyCharm
.idea/
*.iml
*.iws
*.ipr
out/
cmake-build-*/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/
static/
.coverage
htmlcov/
# 忽略所有 migrations 下的 .py 文件，除了 __init__.py
**/migrations/*.py
!**/migrations/__init__.py

# 虚拟环境
.venv/
venv/
env/
ENV/
env.bak/
venv.bak/