{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'plugin/bootstrap-5.3.0-alpha2-dist/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'plugin/fontawesome-free-7.2.0-web/css/fontawesome.min.css' %}">
    {% block css %}{% endblock %}
</head>
<body>

<nav class="navbar navbar-expand-lg bg-body-tertiary" style="background-color: #e3f2fd;">
    <div class="container">
        <a class="navbar-brand" href="#">Tracer</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">产品功能</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">企业方案</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">帮助文档</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">产品价格</a>
                </li>

            </ul>

            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false">
                        Dropdown
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </li>

            </ul>
        </div>
    </div>
</nav>

{% block content %}{% endblock %}

<script src="{% static 'plugin/bootstrap-5.3.0-alpha2-dist/js/bootstrap.bundle.min.js' %}"></script>
{% block js %}{% endblock %}
</body>
</html>