{% for item in catalog_tree %}
    <ul>
        {% if not item.children %}
            <li><a href="{% url 'web:wiki' proj_id=request.tracer.project.id%}?wiki_id={{ item.id }}" style="text-decoration: none; color: inherit;">{{ item.title }}</a></li>
        {% else %}
            <li><a href="{% url 'web:wiki' proj_id=request.tracer.project.id%}?wiki_id={{ item.id }}" style="text-decoration: none; color: inherit;">{{ item.title }}</a></li>
            {% include "inclusion/all_catalog.html" with catalog_tree=item.children %}
        {% endif %}
    </ul>

{% endfor %}
