{% extends 'layout/manage.html' %}
{% load static %}


{% block content %}
    <div class="container-fluid mt-4">
        <div class="card shadow-sm">

            <div class="card-header bg-light py-2 d-flex justify-content-between align-items-center">
                <div>
                    <i class="fa-solid fa-folder text-warning"></i> 文件库
                </div>

                <div class="d-flex gap-2">
                    <input type="file" id="upload_file_input" style="display: none;" multiple>
                    <label for="upload_file_input"
                           style="border: 1px dashed #a0aec0; padding: 2px 12px; border-radius: 4px; font-size: 12px; color: #718096; cursor: pointer; margin-bottom: 0; display: inline-block;">
                        <i class="fa-solid fa-cloud-arrow-up me-1"></i>上传文件
                    </label>

                    <div style="border: 1px dashed #a0aec0; padding: 2px 12px; border-radius: 4px; font-size: 12px; color: #718096; cursor: pointer;"
                         data-bs-toggle="modal"
                         data-bs-target="#newFileModal"
                         data-act="add"
                    >
                        <span style="text-decoration: none; color: inherit;"><i
                                class="fa-solid fa-folder-plus me-1"></i>新建文件夹</span>
                    </div>
                </div>
            </div>

            <div class="card-body p-4" style="min-height: 75vh;">
                <!--文件栏导航条-->
                <nav aria-label="breadcrumb" class="mb-3">
                    <ol class="breadcrumb" style="font-size: 14px;">
                        <li class="breadcrumb-item">
                            <a href="{% url 'web:file' proj_id=request.tracer.project.id %}"
                               class="text-decoration-none">
                                <i class="fa-solid fa-house"></i> 文件库</a>
                        </li>
                        {% for breadcrumb in breadcrumb_list %}
                            <li class="breadcrumb-item" aria-current="page">
                                <a href="{% url 'web:file' proj_id=request.tracer.project.id %}?folder={{ breadcrumb.id }}"
                                   class="text-decoration-none d-flex align-items-center gap-2">{{ breadcrumb.name }}</a>
                            </li>
                        {% endfor %}
                    </ol>
                </nav>
                <!--文件列表-->
                <div class="table-responsive">
                    <table class="table table-hover align-middle">
                        <thead class="table-light text-muted" style="font-size: 13px;">
                        <tr>
                            <th scope="col" style="width: 45%;">名称</th>
                            <th scope="col">大小</th>
                            <th scope="col">更新者</th>
                            <th scope="col">更新时间</th>
                            <th scope="col" class="text-end">操作</th>
                        </tr>
                        </thead>
                        <tbody style="font-size: 14px;">
                        {% for item in data_list %}
                            <tr>
                                <td>
                                    {% if item.file_type == 2 %}
                                        <a href="{% url 'web:file' proj_id=request.tracer.project.id %}?folder={{ item.id }}"
                                           class="text-decoration-none text-dark d-flex align-items-center gap-2">
                                            <i class="fa-solid fa-folder text-warning fs-5"></i>
                                            <span>{{ item.name }}</span>
                                        </a>
                                    {% else %}
                                        <a href="#"
                                           class="text-decoration-none text-dark d-flex align-items-center gap-2">
                                            <i class="fa-solid fa-file-image text-primary fs-5"></i>
                                            <span>{{ item.name }}</span>
                                        </a>
                                    {% endif %}
                                </td>
                                <td class="text-muted">
                                    {% if item.file_type == 2 %}
                                        -
                                    {% else %}
                                        {{ item.file_size }}
                                    {% endif %}
                                </td>
                                <td>{{ item.update_user.name }}</td>
                                <td class="text-muted">{{ item.update_datetime }}</td>
                                <td class="text-end">

                                    {% if item.file_type == 2 %}
                                        <!--编辑文件夹名称-->
                                        <a class="btn btn-sm btn-light text-secondary"
                                           data-bs-toggle="modal"
                                           data-bs-target="#newFileModal"
                                           data-act="edit"
                                           data-fid="{{ item.id }}"
                                           data-name="{{ item.name }}"
                                        ><i
                                                class="fa-solid fa-pen"></i></a>
                                        <!--删除文件夹-->
                                        <a class="btn btn-sm btn-light text-danger"
                                           data-bs-toggle="modal"
                                           data-bs-target="#deleteModal"
                                           data-act="folder"
                                           data-fid="{{ item.id }}"
                                           data-name="{{ item.name }}"
                                           data-url="{% url 'web:file_del' request.tracer.project.id %}?del_id={{ item.id }}"
                                        ><i
                                                class="fa-solid fa-trash"></i></a>
                                    {% else %}
                                        <!--下载文件-->
                                        <a href="#" class="btn btn-sm btn-light text-primary"><i
                                                class="fa-solid fa-download"></i></a>
                                        <!--删除文件-->
                                        <a href="#" class="btn btn-sm btn-light text-danger"
                                           data-bs-toggle="modal"
                                           data-bs-target="#deleteModal"
                                           data-act="file"
                                           data-name="{{ item.name }}"
                                           data-url="{% url 'web:file_del' request.tracer.project.id %}?del_id={{ item.id }}"
                                        ><i
                                                class="fa-solid fa-trash"></i></a>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>


    <!-- 公用模态框 -->
    <div class="modal fade" id="newFileModal" tabindex="-1" aria-labelledby="newFileModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="newFileModalLabel">新建/编辑</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <!-- 这里预留表单位置，你后续可以自己添加 -->
                    <form action="" method="post" id="file_form">
                        {% csrf_token %}
                        {% for field in form %}
                            <div class="mb-3">
                                <input type="hidden" name="fid" id="hid_fid" value="">
                                <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
                                {{ field }}
                                <!-- 普通输入框下方错误信息块 -->
                                <span class='err-msg'></span>
                            </div>
                        {% endfor %}
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary" id="add_file">创建文件夹</button>
                </div>
            </div>
        </div>
    </div>



    <!-- 删除文件夹警告框-->
    <div class="modal fade" id="deleteModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-danger">
                        <i class="fa-solid fa-triangle-exclamation"></i> 危险操作
                    </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">
                    确定要删除 <span id="delete_name" class="fw-bold text-danger">文件/文件夹</span> 吗？
                    <div class="text-muted mt-2" style="font-size: 12px;">此操作不可逆，一旦删除无法找回！</div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-danger" id="del_file">确认删除</button>
                </div>
            </div>
        </div>
    </div>



    <!-- 文件上传中提示框-->
    <div id="uploadingToast"
         style="position: fixed; top: 30px; left: 50%; transform: translateX(-50%); background-color: #fff; border-left: 4px solid #1677ff; box-shadow: 0 4px 12px rgba(0,0,0,0.15); padding: 12px 24px; border-radius: 4px; display: none; z-index: 9999; font-size: 14px; color: #333; align-items: center;">
        <i class="fa-solid fa-spinner fa-spin" style="margin-right: 8px; color: #1677ff;"></i>
        <span id="uploadingMsg">文件上传中...</span>
    </div>
    <!-- 文件上传成功提示框-->
    <div id="successToast"
         style="position: fixed; top: 30px; left: 50%; transform: translateX(-50%); background-color: #fff; border-left: 4px solid #52c41a; box-shadow: 0 4px 12px rgba(0,0,0,0.15); padding: 12px 24px; border-radius: 4px; display: none; z-index: 9999; font-size: 14px; color: #333; align-items: center;">
        <i class="fa-solid fa-circle-check" style="margin-right: 8px; color: #52c41a;"></i>
        <span id="toastMsg">上传成功</span>
    </div>

{% endblock %}



{% block js %}
    <script src="{% static 'js/cos-js-sdk-v5.min.js' %}"></script>
    <script>
        const newFileModal = document.getElementById('newFileModal')
        const deleteModal = document.getElementById('deleteModal')

        const file_form = document.getElementById('file_form')
        const modelTile = document.getElementById('newFileModalLabel')
        const nameInput = document.getElementById('id_name')    // 表单里名字输入框

        const add_file = document.getElementById('add_file')
        const del_file = document.getElementById('del_file')
        const upload_file_input = document.getElementById('upload_file_input')

        let current_folder_id = '{{ parent_id }}'
        let delUrl = ''
        let stsUrl = '{% url 'web:upload_credential' proj_id=request.tracer.project.id%}'     // 后端获取临时密钥接口地址


        // 监听deleteModal模态框
        deleteModal.addEventListener('show.bs.modal', function (event) {

            const button = event.relatedTarget
            document.getElementById('delete_name').innerText = button.getAttribute('data-name')
            delUrl = button.getAttribute('data-url')


        })


        // 监听newFileModal模态框
        // show.bs.modal:这个事件里可以轻松拿到是哪个按钮触发了模态框
        newFileModal.addEventListener('show.bs.modal', function (event) {

                // 获取哪个按钮触发了模态框
                const button = event.relatedTarget;
                // 获取按钮上自定义的act属性
                const act = button.getAttribute('data-act');

                // 清空错误信息
                document.querySelectorAll('.err-msg').forEach(Box => Box.innerText = '');

                if (act === 'edit') {
                    modelTile.innerText = '编辑文件夹';
                    //给隐藏的input框赋值
                    document.getElementById('hid_fid').value = button.getAttribute('data-fid')
                    // 获取自定义的data-name属性,内容即待修改的文件夹名字
                    nameInput.value = button.getAttribute('data-name')
                } else {
                    modelTile.innerText = '新建文件';
                    file_form.reset()
                }
            }
        )


        add_file.addEventListener('click', async function () {
            const originalText = add_file.innerText;
            add_file.innerText = "检测中...";
            add_file.disabled = true; // 禁用按钮，变灰！防止狂点！

            let form_data = new FormData(file_form)

            let res = await fetch(location.href, {
                method: 'POST',
                body: form_data
            })
            let data = await res.json()
            if (data.status) {
                window.location.reload();

            } else {
                // data {status:xx,form:{field:[xx]}}
                for (let field in data.form) {
                    let errors = data.form[field][0]
                    let error_element = document.getElementById(`id_${field}`).nextElementSibling
                    error_element.innerText = errors
                }
                add_file.innerText = originalText;
                add_file.disabled = false;
            }
        })


        del_file.addEventListener('click', async function () {
            const originalText = del_file.innerText;
            del_file.innerText = "检测中...";
            del_file.disabled = true; // 禁用按钮，变灰！防止狂点！

            let res = await fetch(delUrl)
            let data = await res.json()

            if (data.status) {
                location.reload()
            } else {
                alert(data.error)
            }
            add_file.innerText = originalText;
            add_file.disabled = false;

        })


        // 上传文件成功弹出框
        function showSuccessToast(message) {
            const toast = document.getElementById('successToast');
            document.getElementById('toastMsg').innerText = message;

            toast.style.display = 'flex'; // 让它显现出来

            // 设定一个定时器
            setTimeout(() => {
                toast.style.display = 'none';
                window.location.reload()
            }, 1500);
        }

        // 显示上传中提示框
        function showUploadingToast(message) {
            const toast = document.getElementById('uploadingToast');
            document.getElementById('uploadingMsg').innerText = message;
            toast.style.display = 'flex';
        }

        // 隐藏上传中提示框
        function hideUploadingToast() {
            document.getElementById('uploadingToast').style.display = 'none';
        }


        upload_file_input.addEventListener('change', async function () {
            // 获取要上传的文件名称&大小
            const files = this.files
            let checkFileList = [];
            if (files.length === 0) return;
            for (let file of files) {
                checkFileList.push({'name': file.name, 'size': file.size})
            }

            // 1. 获取临时凭证：将文件信息传入后端，对订阅使用情况进行判断，从而决定是否给凭证进行上传
            const response = await fetch(stsUrl, {
                method: 'POST',
                headers: {
                    'Content-type': 'application/json'
                },
                body: JSON.stringify(checkFileList)
            });
            const data = await response.json();
            console.log(data)
            if (!data.status) {
                alert(data.error)
            } else {
                // 2. 解构后端组装好的数据
                const {credentials = {}, startTime, expiredTime, bucket, region} = data.credential_data;
                const {tmpSecretId, tmpSecretKey, sessionToken} = credentials;

                // 3. 校验参数
                const params = {tmpSecretId, tmpSecretKey, sessionToken, bucket, region};
                const emptyParam = Object.keys(params).find(k => !params[k]);
                if (emptyParam) {
                    // 直接抛出错误，会被最外层的 catch 捕获
                    throw new Error(`参数错误: ${emptyParam} 不能为空`);
                }

                // 4. 初始化 COS 实例
                const cos = new COS({
                    SecretId: tmpSecretId,
                    SecretKey: tmpSecretKey,
                    SecurityToken: sessionToken,
                    StartTime: startTime,
                    ExpiredTime: expiredTime,
                });

                let totalFiles = files.length
                let successCount = 0
                let completeCount = 0

                showUploadingToast(`正在上传 ${totalFiles} 个文件，请稍候...`);
                // 5. 执行上传
                for (let file of files) {
                    // 前端生成唯一 Key (时间戳 + 文件名)
                    let key = (new Date()).getTime() + "_" + file.name;

                    // cos.uploadFile(params, callback)
                    cos.uploadFile({
                        Bucket: bucket,
                        Region: region,
                        Key: key,
                        Body: file,
                        onProgress: function (progressData) {
                            // 打印单个文件的进度
                            console.log(`[${file.name}] 上传进度:`, (progressData.percent * 100).toFixed(2) + '%');
                        }
                    }, async function (err, uploadData) {
                        // function:回调,当文件传完（或报错）时，腾讯云会自动调用它
                        completeCount++
                        if (uploadData && uploadData.statusCode === 200) {
                            // uploadData：{statusCode: 200, headers: {…}, Location: 'file_path', ETag: 'xxx', RequestId: 'xxx'}
                            successCount++
                            // 数据写入数据库
                            let res = await fetch('{% url 'web:file_add' proj_id=request.tracer.project.id %}', {
                                method: 'POST',
                                headers: {
                                    'Content-type': 'application/json'
                                },
                                body: JSON.stringify({
                                    "name": file.name,
                                    "key": key,
                                    "file_size": file.size,
                                    "file_path": uploadData.Location,
                                    "parent": current_folder_id,
                                    "ETag": uploadData.ETag
                                })
                            })

                            let data = await res.json()
                            console.log(data)

                        } else {
                            console.error(`[${file.name}] 上传崩溃了:`, err);

                        }
                        if (completeCount === totalFiles) {
                            hideUploadingToast();
                            if (successCount === totalFiles) {
                                showSuccessToast(`成功上传 ${successCount} 个文件`)
                            } else {
                                showSuccessToast(`上传结束：成功 ${successCount} 个，失败 ${totalFiles - successCount} 个`)
                            }
                        }
                        // 6. 清空upload_file_input里面的值，避免因为下次值没变导致change事件没有调用
                        upload_file_input.value = '';
                    });
                }
            }
        })


    </script>

{% endblock %}
