{% extends 'layout/manage.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'plugin/flatpickr/flatpickr.min.css' %}">

    <link rel="stylesheet" href="{% static 'plugin/tom-select/css/tom-select.bootstrap5.min.css' %}">

    <link rel="stylesheet" href="{% static 'plugin/vditor/index.css' %}">

{% endblock %}


{% block content %}
    <div class="container-fluid mt-4">
        <div class="row">

            <div class="col-lg-6 col-md-12 mb-4">
                <div class="card shadow-sm border-0">
                    <div class="card-header bg-transparent border-bottom py-3">
                        <h5 class="card-title mb-0" style="font-size: 16px;">
                            <i class="fa-regular fa-pen-to-square me-2"></i> 更新问题
                        </h5>
                    </div>

                    <div class="card-body">

                        <div class="text-muted text-center py-5">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                    </div>
                                    <div class="modal-body">
                                        <form action="" method="post" id="issues_form">
                                            {% csrf_token %}
                                            <div class="row">

                                                <div class="col-md-6 mb-3">
                                                    <label class="form-label fw-bold">{{ form.issues_type.label }}</label>
                                                    {{ form.issues_type }}
                                                    <span class="err-msg text-danger" style="font-size: 12px;"></span>
                                                </div>
                                                <div class="col-md-6 mb-3">
                                                    <label class="form-label fw-bold">{{ form.module.label }}</label>
                                                    {{ form.module }}
                                                    <span class="err-msg text-danger" style="font-size: 12px;"></span>
                                                </div>

                                                <div class="col-md-12 mb-3">
                                                    <label class="form-label fw-bold">{{ form.subject.label }}</label>
                                                    {{ form.subject }}
                                                    <span class="err-msg text-danger" style="font-size: 12px;"></span>
                                                </div>

                                                <div class="col-md-12 mb-3">
                                                    <label class="form-label fw-bold">{{ form.desc.label }}</label>
                                                    {{ form.desc }}
                                                    <span class="err-msg text-danger" style="font-size: 12px;"></span>
                                                </div>

                                                <div class="col-md-6 mb-3">
                                                    <label class="form-label fw-bold">{{ form.status.label }}</label>
                                                    {{ form.status }}
                                                    <span class="err-msg text-danger" style="font-size: 12px;"></span>
                                                </div>
                                                <div class="col-md-6 mb-3">
                                                    <label class="form-label fw-bold">{{ form.priority.label }}</label>
                                                    {{ form.priority }}
                                                    <span class="err-msg text-danger" style="font-size: 12px;"></span>
                                                </div>

                                                <div class="col-md-6 mb-3">
                                                    <label class="form-label fw-bold">{{ form.assign.label }}</label>
                                                    {{ form.assign }}
                                                    <span class="err-msg text-danger" style="font-size: 12px;"></span>
                                                </div>
                                                <div class="col-md-6 mb-3">
                                                    <label class="form-label fw-bold">{{ form.attention.label }}</label>
                                                    {{ form.attention }}
                                                    <span class="err-msg text-danger" style="font-size: 12px;"></span>
                                                </div>

                                                <div class="col-md-6 mb-3">
                                                    <label class="form-label fw-bold">{{ form.start_date.label }}</label>
                                                    {{ form.start_date }}
                                                    <span class="err-msg text-danger" style="font-size: 12px;"></span>
                                                </div>
                                                <div class="col-md-6 mb-3">
                                                    <label class="form-label fw-bold">{{ form.end_date.label }}</label>
                                                    {{ form.end_date }}
                                                    <span class="err-msg text-danger" style="font-size: 12px;"></span>
                                                </div>

                                                <div class="col-md-6 mb-3">
                                                    <label class="form-label fw-bold">{{ form.mode.label }}</label>
                                                    {{ form.mode }}
                                                    <span class="err-msg text-danger" style="font-size: 12px;"></span>
                                                </div>
                                                <div class="col-md-6 mb-3">
                                                    <label class="form-label fw-bold">{{ form.parent.label }}</label>
                                                    {{ form.parent }}
                                                    <span class="err-msg text-danger" style="font-size: 12px;"></span>
                                                </div>

                                            </div>
                                        </form>
                                    </div>


                                    <div class="d-grid mt-4">
                                        {#                                        <button type="button" class="btn btn-dark btn-lg" id="confirm_button">确 定#}
                                        {#                                        </button>#}

                                        <button type="button" class="btn btn-dark btn-lg" id="cancel_edit">返 回
                                        </button>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>


            <div class="col-lg-6 col-md-12 mb-4">
                <div class="card shadow-sm border-0">
                    <div class="card-header bg-transparent border-bottom py-3">
                        <h5 class="card-title mb-0" style="font-size: 16px;">
                            <i class="fa-solid fa-magnifying-glass me-2"></i> 操作记录
                        </h5>
                    </div>

                    <div class="card-body">

                        <div class="text-muted text-center py-5">
                            <div class="action-history-list mb-4">
                                <!--评论-->

                            </div>

                            <hr class="text-muted mb-4">

                            <div class="reply-input-area">
                                <textarea id="reply_content" class="form-control mb-3" rows="4"
                                          placeholder="请输入要回复的内容"></textarea>
                                <div class="d-flex gap-2">
                                    <button type="button" class="btn btn-dark btn-lg flex-grow-1" id="reply_submit">发
                                        送
                                    </button>
                                    <button type="button" class="btn btn-light btn-lg d-none" id="reply_cancel">
                                        取消回复
                                    </button>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock %}


{% block js %}
    <script src="{% static 'plugin/vditor/index.min.js' %}"></script>
    <script src="{% static 'plugin/tom-select/js/tom-select.complete.min.js' %}"></script>
    <script src="{% static 'plugin/flatpickr/flatpickr.min.js' %}"></script>
    <script src="{% static 'plugin/flatpickr/l10n/zh.js' %}"></script>


    <script>
        const issues_form = document.querySelector('#issues_form')
        // const confirm_button = document.getElementById('confirm_button')
        const cancel_edit = document.querySelector('#cancel_edit')
        const reply_submit = document.querySelector('#reply_submit')
        const reply_cancel = document.querySelector('#reply_cancel')
        const reply_content = document.querySelector("#reply_content")
        let current_reply_parent_id = ''

        // const formElement = document.getElementById('issues_form')
        const editUrl = '{% url 'web:issues_detail' proj_id=request.tracer.project.id issues_id=issues_obj.id %}';
        const replyUrl = '{% url 'web:issues_record' proj_id=request.tracer.project.id issues_id=issues_obj.id %}'

        let myVditor;


        // 页面加载初始化
        document.addEventListener('DOMContentLoaded', function () {
            initIssuesRecord()

            // 场景 A：纯日期选择 (年-月-日)
            flatpickr(".date-picker", {
                locale: "zh",          // 使用中文语言包
                dateFormat: "Y-m-d",   // 格式化输出到 input 框的值
                minDate: "today",      // 常用防御配置：禁止选择今天以前的日子
            });

            // 场景 A：单选 + 搜索模式
            document.querySelectorAll('.tom-select-single').forEach((el) => {
                new TomSelect(el, {
                    create: false,         // false=只允许选列表中有的，true=允许用户自己输入新值打标签
                    placeholder: "请点击并搜索...",
                    sortField: {           // 选项按照文本内容排序
                        field: "text",
                        direction: "asc"
                    }
                });
            });

            // 场景 B：多选 + 标签化管理 (带关闭按钮)
            document.querySelectorAll('.tom-select-multiple').forEach((el) => {
                new TomSelect(el, {
                    create: false,
                    placeholder: "请选择多项...",
                    plugins: ['remove_button'], // 核心插件：让选中的标签带有 x 删除按钮
                });
            });

            // 找到 Django 渲染出来的原生文本框,加载为vditor插件
            const djangoTextarea = document.querySelector('.vditor-textarea');
            if (djangoTextarea) {
                // 2. 隐藏它（但它依然存在于表单中，用于最终提交数据）
                djangoTextarea.style.display = 'none';

                // 3. 在原生文本框的前面，动态创建一个高大上的 div 容器供 Vditor 附体
                const vditorContainer = document.createElement('div');
                vditorContainer.id = 'vditor-editor';
                djangoTextarea.parentNode.insertBefore(vditorContainer, djangoTextarea);

                // 4. 召唤 Vditor 引擎
                myVditor = new Vditor('vditor-editor', {
                    height: 350,                  // 编辑器总高度
                    mode: 'sv',                   // 模式：sv(分屏预览), wysiwyg(所见即所得), ir(即时渲染)
                    theme: 'classic',             // 主题：classic 或 dark
                    placeholder: '支持 Markdown 语法，可直接拖拽或粘贴图片...',
                    cache: {
                        enable: false             // 禁用本地缓存，防止新建和编辑时数据错乱
                    },
                    // 如果原本 Django 的 textarea 里有值（比如在编辑问题时），就在这里初始化进去
                    value: djangoTextarea.value,

                    // 💥 灵魂机制：用户在 Vditor 中输入的任何内容，都会实时静默同步给 Django 的隐藏文本框
                    input: function (text) {
                        djangoTextarea.value = text;
                    },

                    // 💥 重点在这里：新增 blur 回调！
                    // 当用户写完描述，鼠标点到外面去的时候，就会静默触发这行代码
                    blur: function (text) {
                        editFetch({'field':'desc','vlaue':text});
                    },

                    upload: {
                        accept: 'image/*, .wav',
                        url: '{% url 'web:wiki_upload' proj_id=request.tracer.project.id %}', // 你的 Django 处理图片的路由
                        fieldName: 'editormd-image-file',      // 对应 request.FILES.get('image_file')
                        format(files, responseText) {
                            // 处理后端返回的 JSON 数据
                            let res = JSON.parse(responseText);
                            let result = {
                                msg: res.message || "上传失败",
                                // 后端 success 为 1 代表成功；而 Vditor 要求 code 为 0 代表成功
                                code: res.success === 1 ? 0 : 1,
                                data: {
                                    errFiles: [],
                                    succMap: {}
                                }
                            };
                            if (res.success === 1) {
                                // 如果成功，把后端返回的真实 url 喂给 Vditor
                                result.data.succMap[files[0].name] = res.url;
                            } else {
                                // 如果失败，记录失败的文件名
                                result.data.errFiles.push(files[0].name);
                            }
                            return JSON.stringify(result);
                        }
                    }
                });
            }
        });


        // 给表单绑定change事件
        issues_form.addEventListener('change', function (event) {
            // 找到发生改变的东西
            const changeElement = event.target
            const changeDict = {'field': changeElement.name, 'value': changeElement.value}
            console.log(changeDict)
            editFetch(changeDict)
        })

        //
        async function editFetch(content) {
            document.querySelectorAll('.err-msg').forEach(Box => Box.innerText = '');
            let formData = new FormData(issues_form)
            formData.append('field', content.field)
            formData.append('value', content.value)

            let res = await fetch(editUrl, {
                method: 'POST',
                body: formData
            })
            let data = await res.json()
            console.log(data)
            if (data.status) {
                // 编辑成功生成一条操作记录
                createRecordNode(data.reply_obj)

            } else {
                let errors = data.errors
                for (let field in errors) {
                    let errorElement = document.getElementById(`id_${field}`).nextElementSibling
                    errorElement.innerText = errors[field][0].message
                }
            }
        }


        // 监听问题编辑,取消按钮
        cancel_edit.addEventListener('click', function () {
            location.assign('{% url 'web:issues' proj_id=request.tracer.project.id %}')
        })

        // 获取该问题中的所有操作记录
        async function initIssuesRecord() {
            let res = await fetch(replyUrl)
            let data = await res.json()
            if (data.status) {
                data.reply_obj_list.forEach(obj => createRecordNode(obj))
            }
        }

        // 评论的挂载
        function createRecordNode(nodeDict) {
            // 评论模板
            const recordTemplate = `
            <div class="d-flex mb-4" id="record-${nodeDict.id}">
                <div class="flex-shrink-0 bg-dark text-white rounded-circle d-flex align-items-center justify-content-center fw-bold"
                     style="width: 45px; height: 45px; font-size: 18px;">
                    <!--取名字第一个字符,并且转为大写-->
                    ${nodeDict.creator_name[0].toUpperCase()}
                </div>

                <div class="ms-3 flex-grow-1">
                    <div class="bg-light border rounded px-3 py-2 mb-2 text-dark">
                        ${nodeDict.content}
                    </div>

                    <div class="text-muted d-flex align-items-center" style="font-size: 13px;">
                        <span><i class="fa-solid fa-bullhorn me-1"></i>${nodeDict.reply_type}</span>
                        <span class="ms-4"><i class="fa-regular fa-user me-1"></i>${nodeDict.creator_name}</span>
                        <span class="ms-4"><i class="fa-regular fa-clock me-1"></i>${nodeDict.create_datetime}</span>
                        <a href="javascript:void(0);"
                           class="ms-4 text-primary text-decoration-none reply-btn"
                            data-id=${nodeDict.id}
                            data-name=${nodeDict.creator_name}>
                            <i class="fa-regular fa-comment-dots me-1"></i>回复
                        </a>
                    </div>
                    <!--挂载孩子-->
                    <div class="child-list mt-3"></div>
                </div>
            </div>
            `
            // 实现挂载
            if (nodeDict.parent_id) {
                const parentBox = document.querySelector(`#record-${nodeDict.parent_id} .child-list`)
                if (parentBox) parentBox.insertAdjacentHTML('beforeend', recordTemplate);

            } else {
                document.querySelector(`.action-history-list`).insertAdjacentHTML('beforeend', recordTemplate)
            }
        }

        // 监听回复按钮（事件委托）
        document.querySelector('.action-history-list').addEventListener('click', function (event) {
            // 检查点中的是不是回复按钮
            const replyBtn = event.target.closest('.reply-btn')
            if (replyBtn) {
                event.preventDefault();         // 阻止a标签默认行为
                const parent_id = replyBtn.dataset.id
                const parent_name = replyBtn.dataset.name
                current_reply_parent_id = parent_id
                reply_content.placeholder = `正在回复@${parent_name}:`
                reply_content.focus();
                reply_cancel.classList.remove('d-none')
            }
        })

        // 监听取消回复按钮
        reply_cancel.addEventListener('click', function () {
            resetReplyStatus()
        })

        // 取消回复重置内容
        function resetReplyStatus() {
            current_reply_parent_id = ''
            reply_content.placeholder = '请输入要回复的内容:'
            reply_content.value = ''
            reply_cancel.classList.add('d-none')
        }

        // 发送回复
        reply_submit.addEventListener('click', async function () {
            const content = reply_content.value
            if (!content) {
                alert('请填写回复内容！')
                return
            }
            let formData = new FormData()
            formData.append('content', content)
            if (current_reply_parent_id) {
                formData.append('parent', current_reply_parent_id)
            }
            let res = await fetch(replyUrl, {
                method: 'POST',
                body: formData
            })
            let data = await res.json()
            if (data.status) {
                createRecordNode(data.reply_obj)
                resetReplyStatus()
            } else {
                console.error('保存失败！')
            }
        })


    </script>
{% endblock %}