{% extends 'layout/manage.html' %}
{% load wiki %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'plugin/editor.md-master/css/editormd.min.css' %}">
{% endblock %}

{% block content %}
    <div class="container-fluid mt-4">

        <div class="card shadow-sm">

            <div class="card-header bg-light py-2 d-flex justify-content-between align-items-center">
                <div>
                    <i class="fa-solid fa-cloud me-1"></i>wiki知识库
                </div>

                <div class="d-flex gap-2">
                    {% if wiki_obj %}

                        <div style="border: 1px dashed #a0aec0; padding: 2px 12px; border-radius: 4px; font-size: 12px; color: #718096;">
                            <a href="{% url 'web:wiki_add' proj_id=request.tracer.project.id %}"
                               style="text-decoration: none;">新增wiki</a>
                        </div>
                        <div style="border: 1px dashed #a0aec0; padding: 2px 12px; border-radius: 4px; font-size: 12px; color: #718096;">
                            <a href="{% url 'web:wiki_edit' proj_id=request.tracer.project.id %}?wiki_id={{ wiki_obj.id }}"
                               style="text-decoration: none;">编辑wiki</a>
                        </div>
                        <div style="border: 1px dashed #a0aec0; padding: 2px 12px; border-radius: 4px; font-size: 12px; color: #718096;">
                            <a href="{% url 'web:wiki_del' proj_id=request.tracer.project.id %}?wiki_id={{ wiki_obj.id }}"
                               style="text-decoration: none;">删除wiki</a>
                        </div>

                    {% else %}

                        <div style="border: 1px dashed #a0aec0; padding: 2px 12px; border-radius: 4px; font-size: 12px; color: #718096;">
                            <a href="{% url 'web:wiki_add' proj_id=request.tracer.project.id %}"
                               style="text-decoration: none;">新增wiki</a>
                        </div>

                    {% endif %}


                </div>
            </div>


            <div class="card-body p-0">
                <div class="row g-0" style="min-height: 85vh;">
                    <div class="col-md-3 border-end p-3 bg-light">

                        {% all_catalog request %}

                    </div>

                    <div class="col-md-9 p-4">
                        {% if wiki_obj %}

                            <div id="previewMarkdown">
                                <textarea>{{ wiki_obj.content }}</textarea>
                            </div>

                        {% else %}
                            <div style="text-align: center; margin-top: 50px">
                                <h4>《{{ request.tracer.project.name }}》wiki文档库</h4>
                                <a href="{% url 'web:wiki_add' proj_id=request.tracer.project.id %}"
                                   style="text-decoration: none;"><i
                                        class="fa-solid fa-plus"></i>添加文章</a>
                            </div>
                        {% endif %}

                    </div>

                </div>
            </div>

        </div>
    </div>
{% endblock %}

{% block js %}
    <script src="{% static 'plugin/editor.md-master/editormd.min.js' %}"></script>
    <script src="{% static 'plugin/editor.md-master/lib/flowchart.min.js' %}"></script>
    <script src="{% static 'plugin/editor.md-master/lib/jquery.flowchart.min.js' %}"></script>
    <script src="{% static 'plugin/editor.md-master/lib/marked.min.js' %}"></script>
    <script src="{% static 'plugin/editor.md-master/lib/prettify.min.js' %}"></script>
    <script src="{% static 'plugin/editor.md-master/lib/raphael.min.js' %}"></script>
    <script src="{% static 'plugin/editor.md-master/lib/sequence-diagram.min.js' %}"></script>
    <script src="{% static 'plugin/editor.md-master/lib/underscore.min.js' %}"></script>

    <script>
        $(function () {
            initPreviewMarkdown()
        })


        function initPreviewMarkdown() {
            editormd.markdownToHTML('previewMarkdown', {
                htmlDecode: "style,script,iframe"
            })
        }

    </script>


{% endblock %}